.action-list {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.action-list__item {
    display: flex;
    align-items: center;
}
.action-list__button {
    width: 100%;
    justify-content: flex-start;
    font-weight: 300;
    color: var(--gray-dark);
    gap: 8px;
    padding: 9px 14px;
    transition: background-color .4s ease-in-out;
}
.action-list__button:hover {
    background-color: var(--gray-light);
}
.action-list__button:active {
    background-color: var(--gray-light);
}
